:root {
    --color-bg: rgba(17, 17, 101, 1);
    --color-container: rgba(255, 255, 255, 1);
    --color-block: rgba(255, 255, 255, 1);
    --color-input: rgb(149, 149, 190);
    --color-block-inner: rgba(94, 74, 74, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-text-light: rgba(255, 255, 255, 1);
    --color-text-dark: rgba(36, 36, 36, 1);
    --color-header: rgba(255, 255, 255, 1);
    --color-header-light: rgba(255, 255, 255, 1);
    --color-header-dark: rgba(36, 36, 36, 1);

    --color-bg-admin: rgba(93, 5, 86, 1);

    --gap-default: 16px;
    --gap-small: 8px;

    --m-default: 8px;

    --p-default: 8px 16px;
}

header {
    color: var(--color-text-light);
}

footer {
    color: var(--color-text-light);
}


input {
    background-color: var(--color-input);
}

ul > li:not(:first-child) {
    margin-top: var(--m-default);
}